###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
ARTest/.vs/ARTest/FileContentIndex/f877cfff-4bf2-4dd6-9e4a-e5f30b994629.vsidx
ARTest/.vs/ARTest/FileContentIndex/66fe70af-92e8-4a51-896d-4abccd951fb8.vsidx
ARTest/.vs/ARTest/FileContentIndex/5309d610-8743-4f05-8c93-53ad0504c0dd.vsidx
ARTest/.vs/ARTest/FileContentIndex/381f0e04-e286-486f-9154-5e1ec8f81a8b.vsidx
ARTest/.vs/ARTest/FileContentIndex/16196c88-793b-4c5a-a675-b89e1c73e6b9.vsidx
